{% extends 'base.html' %} {% block head %}
<title>Submit Mark</title>
{% endblock %} {% block body %}
<div class="contents card">
    <div class="card-header text-center">
        Generate Marks
    </div>
    <div class="card-body">

        <form name = "marksubmit" action="/result" method="post" onsubmit="return checkValidation();">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input name="user_name" class="form-control" type="text" id="username" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="reg_no">Register Number</label>
                        <input class="form-control" type="text" id="reg_no" name="reg_no" maxlength="20" style="text-transform:uppercase" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="sem">Semester</label>
                        <select class="form-control" id="sem" name="sem">
                                        <option value="selectsem">Select semester</option>
                                        <option value="sem1">Semester 1</option>
                                        <option value="sem2">Semester 2</option>
                                        <option value="sem3">Semester 3</option>
                                        <option value="sem4">Semester 4</option>
                                        <option value="sem5">Semester 5</option>
                                        <option value="sem6">Semester 6</option>
                                        <option value="sem7">Semester 7</option>
                                        <option value="sem8">Semester 8</option>
                                    </select>
                                    <div class="invalid-feedback">Please choose a semester.</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label>Subject 1</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="text" name="subject1_name" placeholder="Subject Name" class="form-control" required />
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="number" name="subject1_mark"  placeholder="Subject Mark" class="form-control" required />
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="number" name="subject1_tmark"  placeholder="Subject Total Mark" class="form-control" required />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label>Subject 2</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="text" name="subject2_name"  placeholder="Subject Name" class="form-control" required />
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="number" name="subject2_mark"  placeholder="Subject Mark" class="form-control" required />
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="number" name="subject2_tmark" placeholder="Subject Total Mark" class="form-control" required />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label>Subject 3</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="text" name="subject3_name"  placeholder="Subject Name" class="form-control"  required/>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="number" name="subject3_mark" placeholder="Subject Mark" class="form-control" required />
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="number" name="subject3_tmark"  placeholder="Subject Total Mark" class="form-control" required />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label>Subject 4</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="text" name="subject4_name"  placeholder="Subject Name" class="form-control" required />
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="number" name="subject4_mark" placeholder="Subject Mark" class="form-control" required />
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <input type="number" name="subject4_tmark"  placeholder="Subject Total Mark" class="form-control" required />
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" name="button" class="btn btn-primary">Generate</button>
            </div>
        </form>

    </div>

</div>

{% endblock %}
