{% extends 'base.html' %}

{% block body%}
    <div class="contents card">
        <div class="card-header text-center">
            Result
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>Name : <span class="text-uppercase">{{name}}</span></p>
                    <p>Registration Number : <span class="text-uppercase">{{reg_no}}</span></p>
                    <p>Semester : <span class="text-uppercase">{{semester}}</span></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table id="result-table" class="table table-bordered">
                        <thead id="result-table-thead">
                            <tr>
                                <th>Subject Name</th>
                                <th>Marks</th>
                                <th>Total Marks</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody id="result-table-tbody">
                            {% for marks in marklist%}
                            <tr>
                                <td><span class="text-uppercase">{{marks['sub_name']}}</span></td>
                                <td>{{marks['sub_mark']}}</td>
                                <td>{{marks['sub_tmark']}}</td>
                                <td>{{marks['grades']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>

            <!-- sem status -->
            <div class="row">
                <div class="col-md-12 text-right">
                    <p>Semester Status : {% if sem_status == "Failed" %} <span class="red-text">{{sem_status}}</span>
                        {% else %} <span class="green-text">{{sem_status}}</span>
                    {% endif %}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" name="back_to_home" class="btn" onclick="window.location.href='{{ url_for( 'index' ) }}';">Generate Another Result</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
