body, html {
    margin: 0;
    /* background-color: #F8F9FA; */
    background-color: #e9ecef;
    --color-primary : #343a40;
}
.text-capitalise {
    text-transform: capitalize;
}
.sub-heading {
    padding: 5px 0px;
    color: grey;
}
.top_padding{
    padding: 5px 0px;
}
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
}
.p-content {
    padding: 5px 0px;
    line-height: 1.6;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container {
    margin-bottom: 20px;
}

.login-form{
    width: 500px;
    height: 90vh;
    margin: auto;
    margin-top: 50px;
}


.margin-top-button {
    margin-top: 18px;
}

.margin-bottom-button {
    margin-bottom: 18px;
}

.jumbotron {
    padding: 40px;
    border-radius: 0;
    margin: 0;

}

.button-primary {
    background-color: var(--color-primary)!important;
    color: #fff!important;
}
